.container-asociacion {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.asociacion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrado vertical */
    align-items: center;
    text-align: center;
}

/* Estilo para la fecha para asegurar que se vea bien */
.fecha-publicacion {
    margin-top: 10px;
    font-size: 15px;
    color: #4b4b4b;
}

.asociacion1 h3 {
    text-align: center;
}

.parrafo-asociacion {
    font-size: 20px;
    color: #0087cd;
    text-align: center;
}

.asociacion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-asociacion {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 300px) and (max-width: 767px) {
    .container-asociacion {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}