@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1840px
2. 1760px
3. 1600px
4. 1440px
5. 1380px
6. 1360px
7. 1280px
8. 1199px
9. 1100px
10. 1024px
11. 991px
12. 959px
13. 880px
14. 768px
15. 767px
16. 667px
17. 575px
18. 539px
19. 480px
20. 479px
21. 414px
22. 400px
23. 375px









******************************/
@media (width: 2048px) {
	.hero-banner-derechosDeberes {
		height: 89vh;
	}

	#titulo_derechos_deberes {
		margin-bottom: -517px;
	}

	#derechos_deberes {
		margin-top: 55px;
		margin-bottom: -130px;
	}
}

/************


1. 1840px
************/
@media screen and (min-width: 1400px) and (max-width: 2400px) {
	#titulo_derechos_deberes {
		font-size: 65px;
		margin-top: 480px;
	}

	#titulo_quienes_somos {
		margin-top: 731px;
		font-size: 65px;
	}

	.hero-overlay-nuestrasPoliticas h1 {
		margin-top: 841px;
		font-size: 65px;
	}

	#titulo_politica_datos {
		margin-top: 796px;
		font-size: 65px;
	}

	#titulo_participacion_ciudadana {
		margin-top: 635px;
		font-size: 65px;
	}

	#titulo_terminos_condiciones {
		margin-top: 778px;
		font-size: 65px;
	}

	.hero-banner-trabajaNosotros .hero-overlay h1 {
		margin-top: 76vh;
		font-size: 65px;
	}

	.hero-banner-participacion {
		height: 90vh;
	}

	.hero-overlay h1 {
		font-size: 65px;
	}
}

@media screen and (min-width: 1367px) and (max-width: 2048px) {
	.passus_servicios {
		margin-bottom: 125px;
		margin-top: -38px;
	}

	.hero-banner-preguntas {
		height: 103vh;
	}

	.hero-banner-preguntas .hero-overlay h1 {
		margin-bottom: -56vh;
	}
}

@media only screen and (max-width: 1840px) {
	.main_nav {
		margin-left: 143px;
	}
}

/************
2. 1760px
************/

@media only screen and (max-width: 1760px) {
	.work_hours {
		display: none;
	}
}

@media (min-width: 1680px) and (max-width: 1920px) {
	#para-mirar {
		margin-top: -19vh;
	}
}

/************
3. 1600px
************/



@media only screen and (max-width: 1600px) {
	.main_nav {
		margin-left: 54px;
	}

	.carousel-item img {
		height: 32vh;
		object-fit: cover;
		margin-top: 30px;
	}
}

@media (min-width: 1745px) and (max-width: 2300px) {
	.home {
		width: 100%;
		height: 807px;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 100%;
	}

	.background_image {
		height: 59%;
	}

	.why {
		width: 100%;
		margin-top: 1px;
		background: white;
	}

	.carousel-item img {
		height: 32vh;
		margin-top: 112px;
	}

	.why_content {
		margin-top: -34px;
	}


	.icon_container_index {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #f1f1f1;
		/* background: #3695EB; */
	}

	.cta {
		margin-top: -18px;
	}

	.cta_title {
		font-size: 35px !important;
		font-weight: 500;
		color: #FFFFFF;
		line-height: 1.2;
		margin-right: 14px;
	}

	.cta_phone {
		font-size: 25px !important;
	}

	.why_list ul li:not(:last-of-type) {
		margin-bottom: 8px;
	}

	.titulo_sedes {
		margin-top: 5vh;
	}

	.icon_index img {
		max-width: 31px;
		/* max-width: 30px; */
		margin-left: 0px;
		margin-top: -2px;
	}

	.footer {
		/* font-family: 'Muli', sans-serif; */
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 11px;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr 2fr;
		grid-template-areas: "mapa_sitio servicios sedes contactanos_redes";
		gap: 104px;
		background-color: #e8e8e8;
		padding: 47px 269px 47px 269px;
	}
}


@media (min-width: 1501px) and (max-width: 1744px) {
	.home {
		width: 100%;
		height: 807px;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 100%;
	}

	.background_image {
		height: 59%;
	}

	.why {
		width: 100%;
		margin-top: 1px;
		background: white;
	}

	.carousel-item img {
		height: 32vh;
		margin-top: 112px;
	}

	.icon_index img {
		margin-left: 1px;
		margin-top: 0px;
	}

	.why_content {
		margin-top: -34px;
	}

	.icon_container_index {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/* background: #3695EB; */
	}

	.cta {
		margin-top: 27px;
	}

	.cta_title {
		font-size: 35px !important;
		font-weight: 500;
		color: #FFFFFF;
		line-height: 1.2;
		margin-right: 14px;
	}

	.cta_phone {
		font-size: 25px !important;
	}

	.why_list ul li:not(:last-of-type) {
		margin-bottom: 8px;
	}

	.titulo_sedes {
		margin-top: 5vh;
	}

	.footer {
		/* font-family: 'Muli', sans-serif; */
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 11px;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr 2fr;
		grid-template-areas: "mapa_sitio servicios sedes contactanos_redes";
		gap: 104px;
		background-color: #e8e8e8;
		padding: 47px 160px 47px 160px;
	}
}

/************
4. 1440px
************/
@media (min-width: 1440px) and (max-width: 2300px) {
	.card {
		min-width: 132px;
		height: auto;
	}

	.why {
		background: white;
	}
}

@media only screen and (max-width: 1440px) {
	.why {
		margin-top: 2px;
		background: white;
	}

	.header_phone {
		display: none;
	}

	.carousel-item img {
		height: 34vh;
		object-fit: cover;
		margin-top: 28px;
	}

	.cta_title {
		margin-right: 10px;
	}

	.card {
		min-width: 132px;
		height: auto;
	}
}

/************
5. 1380px
************/

@media only screen and (max-width: 1380px) {

	.carousel-item img {
		height: 67vh;
		object-fit: cover;
		margin-top: 181px;
	}
}

/************
6. 1366px
************/

@media (min-width: 1367px) and (max-width: 1500px) {
	.home {
		width: 100%;
		height: 81vh;
	}

	.why_list {
		margin-top: 57px;
	}

	.owl-carousel {
		height: 63%;
	}

	/* .carousel-item img {
		height: 32vh;
		margin-top: 34px;
	} */
	.carousel-item img {
		height: 32vh;
		margin-top: 115px;
	}

	.titulo_sedes {
		margin-top: 5vh;
	}

	.contact_content {
		margin-top: 112px;
	}

	.why_list ul li:not(:last-of-type) {
		margin-bottom: 15px;
	}

	.icon_container_index {
		width: 50px;
		height: 50px;
	}

	.icon_index img {
		max-width: 31px;
		/* max-width: 30px; */
		margin-left: 1px;
		margin-top: 1px;
	}

	.footer {
		padding: 50px 0 50px 127px;
	}
}

@media only screen and (max-width: 1366px) {

	.home {
		width: 100%;
		height: 625px;
		top: -45px;
		margin-bottom: 108px;
	}

	/* .home_slider_container {
		width: 100%;
		margin: 0 auto;
	} */
	.home_slider_container {
		width: 100%;
		margin: -43px auto -134px;
	}

	.imgcarousel {
		/* width: 80%; */
		height: 136%;
	}


	.carousel-item img {
		height: 44vh;
		object-fit: cover;
		margin-top: 117px !important;
		border-radius: 20px;
	}

	.home_slider_dots {
		top: 111vh;
		left: calc((100vw - 690px) / 2);
	}

	.why {
		top: -99px;
		width: 100%;
		margin-bottom: -145px;
		margin-bottom: -101px;
		background: white;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 46px;
		height: 94px;
	}

	.cta_title {
		font-size: 20px;
		color: #FFFFFF;
		line-height: 1.2;
		margin-left: 143px;
		margin-right: 20px;
	}

	.cta_phone {
		height: 59px;
		padding-left: 24px;
		padding-right: 25px;
		line-height: 59px;
		text-align: center;
		font-size: 20px !important;
		font-weight: 600;
		color: #fff;
		background: #3695eb;
		border-radius: 19px;
		white-space: nowrap;
	}

	p:last-of-type {
		margin-bottom: 3px;
	}

	.porque_index {
		font-size: 36px;
		margin-bottom: -41px;
		margin-top: 43px;
	}

	.icon_container_index {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		/* background: rgb(13, 153, 235); */
	}

	.icon_index {
		width: 21px;
		height: 21px;
	}

	.carousel-item img {
		height: 44vh;
		object-fit: cover;
		margin-top: 91px;
		border-radius: 20px;
	}

	.custom-carousel-inner {
		margin-top: -138px;
	}

	.why_list ul li:not(:last-of-type) {
		margin-bottom: 11px;
	}

	#derechos_deberes .section_title h2 {
		margin-top: -133px;
	}

	/* .services {
		padding-top: 0px;
		margin-top: 15px;
		margin-bottom: -3vh;
	} */
	#services_index {
		padding-top: 0px;
		margin-top: 0 margin-bottom: -11vh;
	}


	#terminos_condiciones {
		padding-top: 58px;
		margin-top: -153px;
		margin-bottom: -3vh;
	}

	.card {
		min-width: 132px;
		height: auto;
	}

	.card p {
		margin: 0px 0 0;
	}

	.passus_servicios {
		margin-bottom: -32px;
		margin-top: -38vh;
	}

	.passus_servicios_index {
		margin-top: 6vh;
		margin-bottom: -10vh;
	}

	.passus_servicios_indexDivertido {
		margin-top: 2vh;
		margin-bottom: -10vh;
	}

	.footer {
		padding: 50px 50px 33px 100px;
	}


}

/************
7. 1280px
************/

@media only screen and (max-width: 1280px) {
	.carousel-item img {
		margin-top: 20px;
		height: 47vh;
		object-fit: cover;
	}

	.main_nav ul li:not(:last-child) {
		margin-right: 29px;
	}

	.porque_index {
		margin-top: -10px;
	}
}

/************
8. 1199px
************/

@media only screen and (max-width: 1199px) {
	.header_button {
		display: none;
	}

	.home_slider_dots {
		left: calc((100vw - 930px) / 2);
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 73%;
	}

	.direct_line_title {
		font-size: 15px;
	}

	.direct_line_num {
		font-size: 15px;
	}

	.hr_politicas {
		margin: 0px 0 0 381px;
	}
}

/************
9. 1100px
************/

@media only screen and (max-width: 1100px) {}

/************
10. 1024px
************/

@media only screen and (width: 1024px) {
	#para-mirar {
		margin-top: -4vh;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 111%;
	}

	.carousel-item img {
		margin-top: 99px;
		height: 20vh;
		object-fit: cover;
	}

	.sedes {
		grid-area: sedes;
		text-align: start;
	}

	.passus_servicios_index {
		margin-bottom: -5vh;
	}

	#titulo_aliados_index {
		margin-top: -185px;
	}

	/* .sedes ul {
		margin-left: 40px;
	} */
}

/************
11. 991px
************/
/* @media (min-width: 992px) and (max-width: 1999px) {
	.card {

		min-width: 132px;
		height: 16vh;
	}
} */

@media (min-width: 415px) and (max-width: 991px) {
	.card {
		width: calc(38% - 10px);
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.card-img {
		margin: 29px auto 8px auto;
	}

	#titulo_HD_surOccidente {
		margin-top: 765px;
	}

	.hero-banner-HD_surOccidente {
		height: 52vh;
	}

	#titulo_HD_surOccidente {
		margin-top: 390px;
	}

	#para-mirar {
		margin-top: -2vh;
	}
}


@media only screen and (max-width: 991px) {

	.main_nav,
	.header_social {
		display: none;
	}

	.carousel-item img {
		margin-top: 140px;
		height: 37vh;
		object-fit: cover;
	}

	.hr_politicas {
		margin: 0px 0 0 276px;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 100%;
	}

	.home_slider_dots {
		left: calc((100vw - 690px) / 2);
	}

	.hamburger {
		display: block !important;
	}

	.intro_form_container {
		margin-top: 102px;
	}

	.why_image {
		position: relative;
		bottom: auto;
		right: auto;
	}

	.why_content {
		padding-bottom: 60px;
	}

	.why_image img {
		max-width: 100%;
	}

	.cta_phone {
		margin-top: 33px;
	}

	.footer_col:not(:last-child) {
		margin-bottom: 80px;
	}

	.footer_location,
	.footer_contact {
		padding-top: 0;
	}

	.service_col_divertido {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}

@media only screen and (max-width: 967px) {
	.carousel-item img {
		margin-top: 140px;
		height: 56vh;
		object-fit: cover;
	}
}

/************
12. 959px
************/

@media only screen and (max-width: 959px) {
	.carousel-item img {
		margin-top: 140px;
		height: 53vh;
		object-fit: cover;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 130px;
	}

	.cta_title {
		font-size: 18px;
		top: 39px;
	}

	.cta_phone {
		font-size: 13px;
		top: -34px;
		left: 553px;
	}
}

@media only screen and (max-width: 915px) {
	.carousel-item img {
		margin-top: 140px;
		height: 38vh;
		object-fit: cover;
		margin-bottom: 24px;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 130px;
	}

	.cta_title {
		font-size: 18px;
		top: 39px;
	}

	.cta_phone {
		font-size: 13px;
		top: -34px;
		left: 553px;
	}
}

@media (min-width: 897px) and (max-width: 1070px) {
	.contactanos-redes {
		grid-area: contactanos_redes;
		text-align: center;
		margin-right: 33vh;
	}

	.footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"mapa_sitio servicios"
			"sedes contactanos_redes";
	}
}

@media (width: 1024px) {
	.hero-overlay h1 {
		margin: 63vh 0 0 0;
	}

	.hero-banner-HD_surOccidente {
		height: 45vh;
	}

	.hero-banner-quienesSomos {
		height: 45vh;
	}

	.hero-banner-reseña_historica {
		height: 44vh;
	}

	.hero-banner-derechosDeberes {
		height: 47vh;
	}

	#titulo_derechos_deberes {
		margin: 13vh 0 0 0;
	}

	.hero-banner-nuestrasPoliticas {
		height: 59vh;
	}

	.hero-overlay-nuestrasPoliticas h1 {
		margin: 44vh 0 0 0;
	}

	.hero-banner-politica_datos {
		height: 51vh;
	}

	.hero-banner-terminos_condiciones {
		height: 52vh;
	}

	.hero-banner-participacion {
		height: 41vh;
	}

	.hero-banner-trabajaNosotros {
		height: 46vh;
	}

	.hero-banner-trabajaNosotros .hero-overlay h1 {
		margin-top: 36vh;
	}

	/* .hero-banner {		
		height: 46vh;		
	}
	.hero-overlay h1 {		
		margin: 33vh 0 0 0;
	} */
}

@media (width: 900px) {
	.hero-banner-derechosDeberes {
		height: 60vh;
	}

	#para-mirar {
		margin-top: -9vh;
	}

	.divertido_index {
		margin-top: 50px;
	}

	.divservicios_index_divertido {
		margin-top: 144px;
	}

	.cta_title {
		margin-left: 20px;
	}

	.passus_servicios_index {
		margin-bottom: -8vh;
	}

	.imgservicios_index {
		height: 300px;
		/* o la altura que estés usando */
		width: 100%;
		object-fit: cover;
		object-position: center top;
		/* <-- Esto sube el enfoque hacia arriba */
	}

	.divtamano_index {
		min-height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media only screen and (max-width: 896px) {
	.carousel-item img {
		margin-top: 140px;
		height: 82vh;
		object-fit: cover;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 74%;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}

	.accordion-grid-preguntas {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		max-width: 1200px;
		margin: 0px auto;
		align-items: start;
		padding: 20px;
	}

	.footer {
		grid-template-columns: repeat(2, 1fr);
		/* 2 columnas para pantallas medianas */
		grid-template-areas:
			"mapa_sitio servicios"
			"sedes contactanos_redes";
		/* Reorganizamos las áreas en 2 filas */
	}

	/* .servicios p {
		display: none;
	} */
}

/************
13. 880px
************/

@media only screen and (max-width: 880px) {
	.carousel-item img {
		margin-top: 140px;
		height: 37vh;
		object-fit: cover;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 92%;
	}

	.why {
		top: -193px;
		height: 90vh;
		background: white;
	}

	.carousel-item img {
		margin-bottom: 28px;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}
}



/************
14. 768px
************/
@media (min-width: 769px) and (max-width: 834px) {
	.cta {
		padding-top: 0px;
		padding-bottom: 0px;
		height: 112px;
		margin-top: -98px;
	}

	.cta_title {
		font-size: 18px;
		margin-left: 3vh;
		margin-top: 6px;
	}

	.cta_phone {
		font-size: 13px;
		top: -29px;
		left: 47vh;
	}

	#para-mirar {
		margin-top: -2vh;
	}

	#titulo_aliados_index {
		margin-top: -58px;
	}

	.passus_servicios_index {
		margin-top: 6vh;
		margin-bottom: -7vh;
	}

}

@media (max-width: 800px) {
	#para-mirar {
		margin-top: -40vh;
	}

}

@media only screen and (max-width: 768px) {
	.why {
		top: -174px;
		height: 99vh;
		background: white;
	}

	.carousel-item img {
		margin-top: 140px;
		height: 37vh;
		object-fit: cover;
	}

	.cta {
		padding-top: 0px;
		padding-bottom: 0px;
		height: 112px;
	}

	.cta_title {
		font-size: 18px;
		margin-left: 3vh;
		margin-top: 6px;
	}

	.cta_phone {
		font-size: 13px;
		top: -29px;
		left: 53vh;
	}
}

/************
15. 767px
************/

@media only screen and (max-width: 767px) {

	.carousel-item img {
		margin-top: 20px;
		height: 47vh;
		object-fit: cover;
		border-radius: 20px;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 59%;
	}

	.home_slider_dots {
		left: calc((100vw - 510px) / 2);
	}

	.home_content {
		max-width: 100%;
	}

	.home_title {
		font-size: 48px;
	}

	.home_subtitle {
		font-size: 24px;
	}

	.milestone_col:not(:last-child) {
		margin-bottom: 50px;
	}

	.extra_content {
		width: 100%;
	}

	.passus_politicas {
		margin-top: 51px;
		margin-bottom: -66px;
	}

	.hr_politicas {
		width: 30%;
		margin: 0px 0 0 175px;
	}

	.footer_bar_content {
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
		left: -25px;
		top: 46px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
		left: 62vh;
	}

	.footer_nav {
		margin-top: 15px;
	}
}

/************
16. 667px
************/

@media only screen and (max-width: 667px) {
	.carousel-item img {
		margin-top: 140px;
		height: 36vh;
		object-fit: cover;
	}

	.imgcarousel {
		margin-bottom: 63px;
		width: 100%;
		height: 58%;
	}

	.home_slider_dots {
		bottom: 94vh;
		left: calc((100vw - 510px) / 2);
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
		left: -58px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
		left: 57vh;
	}

	.footer {
		grid-template-columns: repeat(2, 1fr);
		/* 2 columnas para pantallas medianas */
		grid-template-areas:
			"mapa_sitio servicios"
			"sedes contactanos_redes";
		/* Reorganizamos las áreas en 2 filas */
	}
}

/************
17. 575px
************/

@media only screen and (max-width: 575px) {



	.imgcarousel {
		margin-top: -126px;
		width: 100%;
		height: 39%;
	}

	.carousel-item img {
		margin-top: 140px;
		height: 25vh;
		object-fit: cover;
	}



	p {
		font-size: 13px;
	}

	h2 {
		font-size: 36px;
	}

	.header.scrolled .header_content,
	.header_content {
		height: 60px;
	}

	.home {
		margin-top: 60px;
		height: calc(41vh - 60px)
	}

	.logo a>div:first-child {
		font-size: 24px;
	}

	.logo a>div:last-child {
		font-size: 10px;
	}

	.section_subtitle {
		font-size: 16px;
	}

	.header_content {
		padding-left: 15px;
		padding-right: 30px;
	}

	.button {
		height: 40px;
	}

	.button a {
		font-size: 12px;
		line-height: 36px;
		padding-left: 31px;
		padding-right: 30px;
	}

	.home_slider_dots {
		display: none !important;
	}

	.home_subtitle {
		font-size: 18px;
	}

	.home_title {
		font-size: 36px;
	}

	.cta_title {
		font-size: 15px;
		left: 30px;
		top: 10px;
	}

	.cta_phone {
		font-size: 13px;
		top: -10px;
		left: 23vh;
	}

	.extra_disc>div:first-child {
		font-size: 48px;
	}

	.extra_disc>div:last-child {
		font-size: 20px;
	}

	.extra_title {
		font-size: 56px;
	}

	.newsletter {
		padding-bottom: 67px;
	}

	.newsletter_row {
		margin-top: 39px;
	}

	.newsletter_title {
		font-size: 24px;
	}

	.newsletter_input {
		width: calc(100% - 120px);
		height: 40px;
	}

	.newsletter_input::-webkit-input-placeholder {
		font-size: 13px !important;
	}

	.newsletter_input:-moz-placeholder {
		font-size: 13px !important;
	}

	.newsletter_input::-moz-placeholder {
		font-size: 13px !important;
	}

	.newsletter_input:-ms-input-placeholder {
		font-size: 13px !important;
	}

	.newsletter_input::input-placeholder {
		font-size: 13px !important;
	}

	.newsletter_button {
		width: 142px;
		height: 40px;
		font-size: 12px;
	}

	.opening_hours {
		left: auto;
		width: 100%;
	}

	/* FOOTER */
	.footer {
		grid-template-columns: 1fr;
		/* Una sola columna */
		grid-template-areas:
			"mapa_sitio"
			"servicios"
			"sedes"
			"contactanos_redes";
	}

	.mapa_sitio {
		justify-items: center;
		align-items: center;
	}

	.mapa_sitio img {
		width: 100px;
		margin-right: 32px;
		margin-top: -1px;
	}

	.servicios ul {

		justify-items: center;
		align-items: center;

	}


	.sedes ul {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
		padding: 0;
		list-style-type: none;
		gap: 10px;
		margin-left: 0px;
	}

	.sedes li {
		text-align: center;
		/* Asegura que el texto dentro de los <li> esté centrado */
	}

	.contactanos-redes {
		text-align: center;
	}

	.contactanos-redes ul {
		justify-content: center;
	}



}

/************
18. 539px
************/

@media only screen and (max-width: 539px) {}

/************
19. 480px
************/

@media only screen and (max-width: 480px) {
	.carousel-item img {
		margin-top: 140px;
		height: 19vh;
		object-fit: cover;
	}

	.copy p {
		font-size: 10px;
		color: #636363;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}
}

/************
20. 432px
************/

@media only screen and (max-width: 432px) {
	.background_image {
		position: absolute;
		top: 59px;
		left: 0;
		width: 100%;
		height: 36%;
		background-repeat: no-repeat;
		background-size: cover;
		/* background-position: center center; */
	}

	.imgcarousel {
		margin-top: -9px;
		width: 100%;
		height: 74%;
	}

	.carousel-item img {
		margin-top: 3px;
		height: 19vh;
		object-fit: cover;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}
}


@media only screen and (max-width: 415px) {

	.background_image {
		position: absolute;
		top: 59px;
		left: 0;
		width: 100%;
		height: 36%;
		background-repeat: no-repeat;
		background-size: cover;
		/* background-position: center center; */
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}
}

/************
21. 414px
************/

@media only screen and (max-width: 414px) {
	.home {
		margin-top: 60px;
		height: calc(49vh - 60px);
	}

	.owl-carousel .owl-item img {
		display: block;
		width: 100%;
		height: 23vh;
	}

	.inicio {
		width: 100%;
		height: 437px;
		margin-top: 35px;
	}

	.carousel-item img {
		margin-top: 0px;
		height: 30vh;
		object-fit: cover;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}

	.sedes {
		grid-area: sedes;
		text-align: center;
	}

	.servicios {
		grid-area: servicios;
		text-align: center;
	}
}

/************
22. 400px
************/

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 412px) {
	.carousel-item img {
		margin-top: 140px;
		height: 21vh;
		object-fit: cover;
	}

	.cta {
		width: 100%;
		background: #009772;
		/* background: #00A54F; */
		padding-top: 19px;
		padding-bottom: 13px;
		height: 140px;
	}

	.cta_title {
		font-size: 15px;
	}

	.cta_phone {
		font-size: 13px;
		top: -21px;
	}
}

@media only screen and (max-width: 394px) {
	.inicio {
		width: 100%;
		height: 348px;
		margin-top: 24px;
	}

	.owl-carousel .owl-item img {
		display: block;
		width: 100%;
		margin-top: 29px;
		height: 23vh;
	}

	.carousel-item img {
		margin-top: 0px;
		height: 22vh;
		object-fit: cover;
	}
}

@media (min-width: 375px) and (max-width: 475px) {

	.home {
		margin-top: 60px;
		height: calc(42vh - 60px);
		margin-bottom: 86px;
	}

	.home_slider_container {
		width: 100%;
		height: 262%;
	}

	.owl-carousel .owl-item img {
		display: block;
		width: 100%;
		margin-top: 115px;
		height: 26vh;
	}


	.carousel-item img {
		margin-top: 0px;
		height: 24vh;
		object-fit: cover;
		margin-bottom: 19px;
		margin-top: 7vh;
	}

	.cta {
		margin-top: 159px;
		padding-top: 10px;
		height: 116px;
	}

	.cta_title {
		font-size: 15px;
		left: -37px;
		top: 1px;
	}

	.cta_phone {
		width: 172px;
		font-size: 13px;
		top: -35px;
		left: 15vh;
		font-size: 2px;
	}

	.titulo_sedes {
		margin-top: 0vh;
	}

	#titulo_aliados_index {
		margin-top: -99px;
	}

	.accordion {
		width: 118%;
		margin: 0 -27px;
	}

	#para-mirar {
		margin-top: 21vh;
	}

	.hero-banner-preguntas .hero-overlay h1 {
		margin-bottom: -34vh;
	}

	#services_index {
		padding-top: 6px;
		margin-top: -1px;
		margin-bottom: -11vh;
	}

	.service_col_divertido {
		margin-top: 10px;
		margin-bottom: -18px;
	}
}

/************
23. 375px
************/


@media only screen and (max-width: 375px) {

	.card {
		padding: 0px;
	}
}

@media (min-width: 300px) and (max-width: 767px) {
	.home {
		margin-top: 33px;
		height: calc(55vh - 51px);
		margin-bottom: 0px;
	}

	.home_title {
		font-size: 16px !important;
	}

	.home_text {
		font-size: 15px !important;
		margin-top: 11px;
		color: #fff !important;
	}

	.parallax_background {
		background-size: cover;
		background-position: center;
		height: 250px !important;
	}

	.card-img {
		margin: 31px auto 8px auto;
	}

	.accordion {
		width: 118%;
		margin: 0 -27px;
	}

	.accordion_panel>div {
		padding-bottom: 5px;
		width: 80%;
		margin: 0px auto;
		padding: 80px;
	}

	.hero-banner-trabajaNosotros .hero-overlay h1 {
		margin-top: 32vh;
	}

	.hero-banner-trabajaNosotros {
		background-image: url(/pagina_passus/images/home/home_slider_4.jpeg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 46vh;
		position: relative;
		width: 100%;
		margin-top: 68px;
		margin-bottom: 4px;
	}

	#trabajaNosotros {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		align-items: start;
		padding: 15px;
		max-width: 1200px;
		margin: -2vh auto;
	}
}

@media (min-width: 300px) and (max-width: 575px) {
	.servicios {
		grid-area: servicios;
		text-align: start;
		justify-items: center;
	}

	.sedes {
		grid-area: sedes;
		text-align: center;
		margin-left: 107px;
	}

	.hero-banner-nuestrasPoliticas {
		height: 78vh;
	}

	.hero-overlay-nuestrasPoliticas h1 {
		font-size: 24px;
		margin: 50vh 0 0 0;
	}

	.social-icons {
		top: 72%;
		gap: 2px;
	}
}

@media (min-width: 500px) and (max-width: 575px) {

	.sedes {
		grid-area: sedes;
		text-align: center;
		margin-left: 69px;
	}
}

@media (min-width: 375px) and (max-width: 428px) {
	.sedes {
		grid-area: sedes;
		text-align: center;
		margin-left: 22px;
	}
}

@media (min-width: 300px) and (max-width: 360px) {

	.card {
		min-width: 107px;
	}

	.card-img {
		min-width: 40px;
		width: calc(50% - 10px);
	}

	@media (min-width: 300px) and (max-width: 575px) {
		.sedes {
			grid-area: sedes;
			text-align: center;
			margin-left: 16px;
		}
	}
}

@media (min-width: 300px) and (max-width: 767px) {
	#derechos_deberes .section_title h2 {
		margin-top: 19px;
		margin-bottom: -69px;
	}
}

@media (max-width: 470px) {

	/* .divservicios_index {
		height: 81%;
		width: 100%;
	} */
	.divtamano_index {
		height: 200px;
	}
}

@media (max-width: 456px) and (min-width: 390px) {
	.custom-accordion label {
		font-size: 15px;
	}
}

@media (max-width: 389px) and (min-width: 375px) {
	.custom-accordion label {
		font-size: 14px;
	}
}

@media (width: 360px) {
	.hero-banner-preguntas .hero-overlay h1 {
		margin-bottom: -29vh;
	}
}




/* DERECHOS Y DEBERES */

@media (max-width: 1050px) {
	.accordion-image img {
		max-width: 30vh;
	}
}

@media (max-width: 991px) {
	.accordion-grid-derechos {
		grid-template-columns: 1fr;
	}

	.accordion-grid-deberes {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 767px) {
	.custom-accordion label {
		height: 84px;
		font-size: 17px;
	}
}